.nav {
    display: flex;
    justify-content: flex-start;
    background-color: purple;
    gap: 5px;
    color: white;
    padding: 15px;
    font-size: 2em;
  }

  .nav a {
    color: white;
    text-decoration: none;
  }

  .main-header {
    display: flex;
    justify-content: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }

  .information-container {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }

  .headers {
    display: flex;
    justify-content: center;
    gap: 50px;
    font-size: 50px;
  }

  .company-name , .price , .change {
    border-bottom: 2px solid black;
  }

  li {
    list-style: none;
  }

  .red
  {
    color: red;
  }

  .green {
    color: green;
  }
